.ant-layout-header {
    background: transparent !important ;
}

.menu {
    margin: 0 16px;
    background: transparent !important;
    border: none !important;
}
.menu-nav {
    height: 30px;
    margin-bottom: 16px;
    line-height: 30px;
}
.menu-nav a {
    padding: 0 8px;
    line-height: 30px;
    color: #001529;
}
.app-list {
    margin-top: 16px;
}
[data-theme='dark'] .menu-nav {
    background: #141414;
}
