@import '~antd/dist/antd.css';
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.App {
  color: #282c34;
  font-size: calc(8px + 1.2vmin);
  background-color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-content {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  padding: 10vmin 2vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
