@import '~antd/dist/antd.css';
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


* {
    margin: 0px;
    padding: 0px;
}

.App {
    color: #282c34;
    font-size: calc(8px + 1.2vmin);
    background: #f0f2f5;
    font-family: 'Anonymous Pro', monospace;
    display: block;
}

.App-menu {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-content {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 80%;
    animation: 1s ease 0s 1 normal none running hcmFve;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 9vmin;
}

.footer .technologies{
    position: fixed;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
