.aboutMe .cargo {
    font-weight: bold;
    font-size: 24px;
}
.aboutMe .momento {
    font-style: italic;
}
.aboutMe .companhia {
    font-size: 20px;
}
.aboutMe .tecnologias {
    font-weight: bold;
    word-wrap: break-word;
    font-size: 18px;
}